server {
	listen 80;        
	server_name maribor localhost;
	root /home/developer/projects/fruithap/clientapps/webconfig;

        access_log on;

        location / {
                proxy_pass http://localhost:8001;
                proxy_set_header X-Forwarded-Host $server_name;
                proxy_set_header X-Real-IP $remote_addr;
                #add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        }

        location /static {    
        	alias /home/developer/projects/fruithap/clientapps/webconfig/staticfiles;
	}

        location /api {
                proxy_pass http://localhost:8888;
                proxy_set_header X-Forwarded-Host $server_name;
                proxy_set_header X-Real-IP $remote_addr;                
        }

    }





